.range-slider {
  width: 100%;
  height: 4px;
  position: relative;
  margin-top: 20px;
}

.range-slider .range-slider__track {
  background-color: #ddd;
  height: 6px;
  border-radius: 3px;
}

.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 80%;
  background: #000000;
}

/* Ползунки */
.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000000;
}

.range-slider .range-slider__thumb:hover {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.15);
}
